body {
	background-color: #999999;
}
p {
	font-size: 24px;
}
button {
	font-size: 30px;
}
#buttons {
	width: 450px;
	margin-right: auto;
	margin-left: auto;
}
#trophy {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}
#result {
	text-align: center;
}